[client]
port   = 3306
socket = /var/run/mysqld/mysqld.sock

[mysqld]

general-log
slow-query-log
log-queries-not-using-indexes
log-warnings
log-error

general-log-file    = /var/log/mysql/general.log
slow-query-log-file = /var/log/mysql/slow.log
long-query-time     = 1

character-set-server = utf8
collation-server     = utf8_general_ci

user             = mysql
pid-file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock
port             = 3306
basedir          = /usr
datadir          = /var/lib/mysql
tmpdir           = /tmp
bind-address     = 0.0.0.0

skip-name-resolve

[mysql]
no-auto-rehash
